body {
	background-color: #f6f5f0;
	/*line-height: 150%;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	margin: 0;
}
html {
	width: 960px;
}
#mainheader{
	background-color: #ffffff;
	/*margin: 0;*/
	border-bottom: 3px solid #ccc;
	width: 960px;
	height: 90px;
	
}

.subheader{
	width: 960px;
	margin-left: 0;
	clear: both;
}

h1{
	/*margin: 50px 50px;*/
}

h2{
	/*padding: 0px, 30px;*/
	margin-left: 50px
	font-weight: bolder;
}


#logo {/*
	width: 200px;*/
	/*height: 300px;*/
	background: #4aaaa5;
	float: left;
	text-align: center;
	line-height: 90px;
	color: green;
	font-weight: 700;
	font-size: 30px;
	position: relative;
	margin-left: 100px;
}


nav {
	float: right;
	margin-top: 2px;
	color: #999;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}

.main {
	margin-left: 100px;
	width: 1024px;
	background-color: grey;

}

#main-bio {
	width: 400px;
	height: 500:;
	border: 2px solid grey;
	margin-top: 120px;


}

#contact {
	width: 270px;
	border: 2px solid grey;
	margin-top: 120px;
	margin-right: 10px;

}

#main-bio,
#contact,
#bio-image {
	float: left;
}

.image{
	float: left;
	height: 200px;
}
#footer{
	clear: both;
	padding: 10px;
	margin-top: 500px;
	border-top: 3px solid green;
	background-color: #948A81;
	width: 100%;
}

